h2{
    font-family : "open sans";
    font-weight: bold;
}

hr {     
background-color: #77ab49;
color: #77ab49;
}
ion-icon { 
float:right;
}

ion-button {
    font-family : "open sans";
    font-weight: bold;
    --background : #E5C42B;
    --color: white;
    --border-radius : 15px;
    text-transform: capitalize;
    font-size: 18px;
    display: block;
    margin-top: 24px;
    margin-bottom: 24px;
}

.fixed {
position:sticky;
top: 16px; 
width: 100%;
}

.container {
position: relative;
}

/* Bottom right text */
.text-block {
position: absolute;
bottom: 20px;
right: 20px;
background-color: black;
color: white;
padding-left: 20px;
padding-right: 20px;

}

.new-card {
margin : 1em;
min-width : 10em;
min-height : 12em;
color : white;
font-weight : 500;
background-size: cover;
}

.new-card-top-text {
height : 40px;
padding : 0.6em;
text-align : left;
background-color: rgba(56, 56, 56, 0.5);
font-family: "open sans"
}


.new-card-bottom-text {
margin-top : 8em;
height : 40px;
padding : 0.6em;
text-align : left;
background-color: rgba(56, 56, 56, 0.5);
font-family: "open sans"
}


.img1 {
background-image : url("https://firebasestorage.googleapis.com/v0/b/terrame2019.appspot.com/o/Aloe1.jpg?alt=media&token=ae933b06-06b6-4fc0-b212-7f9bfba67862")
}

.img2 {
background-image : url("https://firebasestorage.googleapis.com/v0/b/terrame2019.appspot.com/o/basil1.jpg?alt=media&token=2770e66a-6764-4e9c-903e-4e999112f1ff")
}

.img3 {
background-image : url("https://firebasestorage.googleapis.com/v0/b/terrame2019.appspot.com/o/daffodil1.jpg?alt=media&token=c126528c-f6fb-4a52-b93a-9b5d3b2713f8")
}

.img4 {
background-image : url("https://firebasestorage.googleapis.com/v0/b/terrame2019.appspot.com/o/daisy1.jpg?alt=media&token=ba1ea1a6-db9c-4f4e-aa3e-c0107aa1862d")
}

.img5 {
background-image : url("https://firebasestorage.googleapis.com/v0/b/terrame2019.appspot.com/o/fern1.jpg?alt=media&token=e37ba061-69b0-439b-938c-28c0139de2be")
}
.img6 {
background-image : url("https://firebasestorage.googleapis.com/v0/b/terrame2019.appspot.com/o/orchid1.jpg?alt=media&token=4e5d1259-7cc2-456b-b15a-84a9355f3468")
}

.img7 {
background-image : url("https://firebasestorage.googleapis.com/v0/b/terrame2019.appspot.com/o/tomato1.jpg?alt=media&token=59309dd8-6f0f-4b49-83b9-956de3a42467")
}

.img8 {
background-image : url("https://firebasestorage.googleapis.com/v0/b/terrame2019.appspot.com/o/cactus-houseplant.jpg?alt=media&token=88fe4104-3500-4e48-8523-2700bebfe741")
}

h2{
    font-family:"Open Sans";
    font-size:32px;
    font-weight:bold;

}

hr {     
background-color: #77ab49;
color: #77ab49;
}

h3 {
text-align: center;
color: #77ab49;
font-family :"Open Sans";
font-size: 24px;
font-weight: bold;
}

p{
font-family:"Open Sans";
font-size: 16px;
margin: 16px;
}

.care{ 
margin-left: 16px;
font-family: "Open Sans";
font-size: 16px;  

}


p.care{
display: inline-block;
vertical-align: 30%;
width: 200px;
font-family: "Open Sans";
font-size: 16px; 
}


ion-button {
    font-family : "Open Sans";
    font-weight: bold;
    --background : #E5C42B;
    --color: white;
    --border-radius : 15px;
    text-transform: capitalize;
    font-size: 18px;
    display: block;
    margin-top: 24px;
    margin-bottom: 24px;
}

.fixed {
position:sticky;
top: 16px; 
width: 100%;
}

.care { 
font-family: "Open Sans";
font-size: 16px;
}

.container {
position: relative;
}

/* Bottom right text */
.text-block {
position: absolute;
bottom: 20px;
right: 20px;
background-color: black;
color: white;
padding-left: 20px;
padding-right: 20px;

}

.new-card {
margin : 1em;
min-width : 10em;
min-height : 12em;
color : white;
font-weight : 500;
background-size: cover;
}

.new-card-top-text {
height : 40px;
padding : 0.6em;
text-align : left;
background-color: rgba(56, 56, 56, 0.5);
font-family: "open sans"
}


.new-card-bottom-text {
margin-top : 8em;
height : 64px;
padding : 0.6em;
text-align : left;
background-color: rgba(56, 56, 56, 0.5);
font-family: "open sans"
}

.img8 {
background-image: url("https://firebasestorage.googleapis.com/v0/b/terrame2019.appspot.com/o/cactus-houseplant.jpg?alt=media&token=88fe4104-3500-4e48-8523-2700bebfe741");

}

.img9 {
 background-image: url("https://firebasestorage.googleapis.com/v0/b/terrame2019.appspot.com/o/cactus_know.jpg?alt=media&token=a0f3163a-f44b-4c1c-93a9-c0e67df198c4");
}

.know-top-text {
font-family: "Open Sans";
font-size: 24px;
text-align: center;
color: #77ab49;
}


.know-bottom-text {
font-family: "Open Sans";
font-size: 16px;
margin-left: 8px;
margin-right:8px; 
}


section{
background-color: #f2f2f2;
padding: 16px;
}
